extends layout

block content
	include header
	.float-btn +
	.container-fluid
		.row
			.col-md-6.tripdesc.col-xs-6
				h2.hidden-xs: a(href="/funcionario/"+datos1[0].Funcionario_id._id) #{datos1[0].Funcionario_id.Nombre.Nombres}
				h3 #{datos1[0].Funcionario_id.Nombre.ApellidoP + datos1[0].Funcionario_id.Nombre.ApellidoM}
			.col-md-6.tripdesc.col-xs-6
				h2.hidden-xs: a(href="/funcionario/"+datos1[0].Funcionario_id._id) #{datos2[0].Funcionario_id.Nombre.Nombres}
				h3 #{datos2[0].Funcionario_id.Nombre.ApellidoP + datos2[0].Funcionario_id.Nombre.ApellidoM}
	.container.main
		.row
			.col-md-8.col-md-offset-2.card
				.chart#chart1
		.row
			.col-md-8.col-md-offset-2.card
				.chart#chart2
		.row
			.col-md-8.col-md-offset-2.card
				table.table.table-responsive.table-striped
					thead
						tr
							th Datos
							th #{datos1[0].Funcionario_id.Nombre.Nombres}
							th #{datos2[0].Funcionario_id.Nombre.Nombres}
					tbody
						tr
							td Viajes
							td #{count1}
							td #{count2}
						tr
							td Gasto en pasaje
							td $ #{totales.totalpasajes1}
							td $ #{totales.totalpasajes2}
						tr
							td Gasto en hospedaje
							td $ #{totales.toatlhospedaje1}
							td $ #{totales.toatlhospedaje2}
						tr
							td Gasto en viaticos
							td $ #{totales.totalviaticos1}
							td $ #{totales.totalviaticos2}
						tr
							td Aclaraciones solicitadas
							td #{datos1[0].Funcionario_id.Aclaraciones}
							td #{datos2[0].Funcionario_id.Aclaraciones}
						tr
							td Puesto
							td #{datos1[0].Funcionario_id.Trabajo.Puesto}
							td #{datos2[0].Funcionario_id.Trabajo.Puesto}
						tr
							td Cargo
							td #{datos1[0].Funcionario_id.Trabajo.Cargo}
							td #{datos2[0].Funcionario_id.Trabajo.Cargo}
						tr
							td Unidad Administrativa
							td #{datos1[0].Funcionario_id.Trabajo.UnidadAdministrativa}
							td #{datos2[0].Funcionario_id.Trabajo.UnidadAdministrativa}
	script(src="/javascripts/highcharts.js")
	script.
		$(function () {
			$('#chart1').highcharts(#{grafica1});
			$('#chart2').highcharts(#{grafica2});
			});
	include footer