extends layout

block content
  include header
  .float-btn(style="right:40px; top:260px") +
  div#map
  .container#main
    .row
      .col-md-8.col-md-offset-2.card(style="height:300px")
        .row.details-title Detalles de Viaje
        hr.divider
        .row
          .col-md-6
            ul
              li #{viajedate.Funcionario_id.Nombre.Nombres} #{viajedate.Funcionario_id.Nombre.ApellidoP} #{viajedate.Funcionario_id.Nombre.ApellidoM }
              li #{viajedate.Funcionario_id.Trabajo.Puesto}
              li #{viajedate.Funcionario_id.Trabajo.UnidadAdministrativa}
              li #{viajedate.Consecutivo}
          .col-md-6
            ul
              li #{viajedate.Consecutivo}
              li Acuerdo
              li Oficio
    .row
      .col-md-8.col-md-offset-2.card(style="height:300px")
        .row.details-title Detalles de Origen - Destino
        hr.divider
        .row.details
          .col-md-6
            ul
              li #{viajedate.Origen.Pais}
              li #{viajedate.Origen.Ciudad}
              li #{viajedate.Origen.Estado}
              li 15-sep   17-sep
          .col-md-6
            ul
              li Tarifa diaria $450 USD
              li Comisión